/bin
/out
/run
/classes
*.classpath
*.project
.settings/
build/
config/
mods/
logs/
resourcepacks/
saves/
crash-reports/
eclipse/
.gradle/
output/
.cache
*.iml
*.ipr
*.iws
*.idea/
logs/
html/downloads/
downloads/
banned-ips.json
banned-players.json
ops.json
whitelist.json
Colored-Pots.txt
libs.ink
options.txt
usernamecache.json
screenshots/
*.log
asm/
\.ReAuth\.cfg
shaderpacks/
Working Directory/
lib/
libs/
outputSplitOnly/

releaseJarsOnly/

Physica_Client.launch

Physica_Server.launch

.DS_Store
